extends ../layout

block content
  h1 Device detail
  ul
    li  name:
        = row.name
    li  address:
        =row.address
    li  gps:
        = row.gps
    li  tags:
        = row.tags
    li  note:
        = row.note
